CORS_ORIGIN = \*
MONGODB_URI = Your MongoDB uri
PORT = 5000

APILAYER_API_KEY = APILAYER API KEY

APPWRITE_ENDPOINT = APPWRITE ENDPOINT
APPWRITE_PROJECT_ID = PROJECT ID
APPWRITE_BUCKET_ID = BUCKET ID
APPWRITE_STUDY_MATERIAL_BUCKET_ID = STUDY MATERIAL BUCKET ID

ACCESS_TOKEN_SECRET = ACCESS TOKEN SECRET
ACCESS_TOKEN_EXPIRY = ACCESS TOKEN EXPIRY
REFRESH_TOKEN_SECRET = REFRESH TOKEN SECRET
REFRESH_TOKEN_EXPIRY = REFRESH TOKEN EXPIRY
